.compo1{
    width: 400px;
    height: 100px;
    margin: 50px 0 0 50px;
    border: 3px solid blue;
    background-color:lightskyblue;
}
.compo2{
    width: 400px;
    height: 100px;
    margin: 50px 0 0 15px;
    border: 3px solid mediumvioletred;
    background-color:rosybrown;
    /*margin-top: 2rem;*/
    /*margin: 2rem 0 0;*/
}
.compo3{
    width: 400px;
    height: 100px;
    margin: 50px 0 0 15px;
    border: 3px solid greenyellow;
    background-color: blueviolet;
    /*margin-top: 2rem;*/
    /*margin: 2rem 0 0;*/
}
.compo4{
    width: 400px;
    height: 100px;
    margin: 50px 0 0 200px;
    border: 3px solid red;
    background-color: chartreuse;
    /*margin-top: 2rem;*/
    /*margin: 2rem 0 0;*/
}
.compo5{
    width: 400px;
    height: 100px;
    margin: 50px 0 0 70px;
    border: 3px solid teal;
    background-color:deepskyblue;
    /*margin-top: 2rem;*/
    /*margin: 2rem 0 0;*/
}
.h5, .h4, .h3{
    justify-self: center;
    width: 1300px;
    height: 10px;
}
.compo6{
    text-align: center;
    height: 100px;
    width: 1300px;
    justify-self: center;
    font-family: cursive;
}
.IMG{
    height: 300px;
    display: block;
    background-image: url("./../assets/IMG/fondo_Img.jpg");
  }
.h2{
    display: flex;
    /*alineacion horizontal*/
    justify-content: center;
    width: 400px;
    /*alineacion vertical*/
    align-items: center;
    height: 50px;
    /*tamaño de letra*/
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: brown;
}