.principal{
  text-align: center;
}
.container1{
  display: flex;
  height: 100px;
  border: 1px;
  margin: 10px;
}
.container2{
  display: flex;
  max-width: 1200px;
  height: 100px;
  border: 1px;
  margin: 10px;
}
.container3{
  display: flex;
  max-width: 800px;
  height: 100px;
  border: 1px;
  margin: 5px;
}
.body{
  background-color:cadetblue;
}